[Desktop Entry]
Name=Halo-Cortana-Neon
X-KDE-PluginInfo-Author=Gemini
X-KDE-PluginInfo-Name=Halo-Cortana-Neon
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Aurorae Window Decoration
